body {
  color: #060b35;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.header {
  box-shadow: 0 2px 4px #0000000d;
}

.header__logo {
  display: block;
}

.header__container {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #060b35;
  text-transform: uppercase;
  height: 60px;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
  transition: color .3s linear;
  display: block;
}

.nav__link.is-active {
  color: #00acdc;
  position: relative;
}

.nav__link.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 8px;
  width: 37px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav__link:hover {
  color: #00acdc;
}

.container {
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 40px;
}

.card {
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 46px 48px;
  display: grid;
}

@media (width >= 488px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 768px) {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1024px) {
  .card {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card__title {
  color: #060b35;
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  display: block;
}

.card__title:hover {
  text-decoration: underline;
}

.card__item {
  box-sizing: border-box;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  height: auto;
  padding: 32px 16px 16px;
  transition: all .3s linear;
}

.card__item:hover {
  transform: scale(1.2);
}

.card__item:hover .card__title {
  color: #34568b;
}

.card__img {
  background-image: url("imac.d0e0225a.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card__product {
  color: #616070;
  font-size: 10px;
  line-height: 14px;
}

.card__info {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.card__reviews {
  color: #060b35;
  font-size: 10px;
  line-height: 14px;
}

.card__info--rating {
  margin-top: 16px;
}

.card__info--price {
  margin-top: 24px;
}

.card__price {
  color: #616070;
  font-size: 12px;
  line-height: 18px;
}

.card__count {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.stars {
  display: flex;
  position: relative;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars:before {
  content: "";
  background-image: url("star-active.2be54011.svg");
  background-repeat: repeat-x;
  background-size: 20px 11px;
  height: 100%;
  position: absolute;
  top: 2px;
  left: -4px;
}

.stars--1:before {
  width: 16px;
}

.stars--2:before {
  width: 36px;
}

.stars--3:before {
  width: 56px;
}

.stars--4:before {
  width: 76px;
}

.stars--5:before {
  width: 96px;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  background-color: #00acdc;
  border: 1px solid #0000;
  border-radius: 5px;
  margin-top: 16px;
  padding: .8em 4.9em;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: background-color .3s linear, color .3s linear, border .3s linear;
  display: inline-block;
}

.btn:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}
/*# sourceMappingURL=index.971c2ea4.css.map */
