$main-accent: #060b35;
$secondary: #616070;
$blue-accent: #00acdc;
$black: #000;
$white: #fff;
$card-item-text-color-hover: #34568b;
$border-color: #f3f3f3;
$font: Roboto, sans-serif;
$header-container-size: 1300px;
$container-size: 1024px;
$header-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
$card-item-width: 200px;
$star-size: 16px;
$margin-right-star: 4px;
